<!doctype html>
<html lang="en">

<head>
  <title>Scrapping</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

  <style type="text/css">
    .tikicon {
      display: inline !important;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <span class="navbar-brand">
      Tiki Scrapping
    </span>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 bg-light sidebar">
        <div class="row">
          {% for category in categories %}
          <div class="pt-4 col-md-1">
            <i class="fas fa-mobile-alt ">
            </i>
          </div>
          <div class="col pt-4 pl-0">
            <a class="pr-0 pl-2 " href="#">
              {{ category }}
            </a>
          </div>
          {% endfor %}
        </div>
      </nav>

      <main class="ml-auto col-10 pt-3 px-4">
        <div class="container ">
          <div class="card-deck d.flex">
            <div class="row">
              {% for product in products %}
              <div class="col-3">
                <div class="card mb-4" style="width: 12rem;">
                  <img class="card-img-top" src="{{ product.image }}">
                  <div class="card-body">
                    <h6 class="card-title" data-toggle="tooltip" data-placement="bottom" title="{{ product.title }}" style="cursor:pointer">{{ product.short_title }}</h6>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="{{ product.rating }}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <p class="card-text">{{ product.review }}</p>
                    <p class="card-text">
                      {{ product.price }}
                      <img class="{{ product.tiki_now }}" src="https://hotro.tiki.vn/hc/article_attachments/360018257591/tikinow-lgoo.jpg" style="width: 60px; display:none"> </img>
                    </p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>